/.metadata/
JPAPractice/.classpath
JPAPractice/.project
JPAPractice/pom.xml
JPAPractice/.settings/org.eclipse.core.resources.prefs
JPAPractice/.settings/org.eclipse.jdt.core.prefs
JPAPractice/.settings/org.eclipse.m2e.core.prefs
JPAPractice/.settings/org.eclipse.wst.common.project.facet.core.xml
JPAPractice/src/main/java/com/mirae/board/biz/App.java
JPAPractice/src/main/java/com/mirae/board/biz/Board.java
JPAPractice/src/main/java/com/mirae/board/biz/BoardServiceClient.java
JPAPractice/src/main/resources/META-INF/persistence.xml
JPAPractice/src/test/java/com/mirae/board/biz/AppTest.java
JPAPractice/target/classes/com/mirae/board/biz/App.class
JPAPractice/target/classes/com/mirae/board/biz/Board.class
JPAPractice/target/classes/com/mirae/board/biz/BoardServiceClient.class
JPAPractice/target/classes/META-INF/MANIFEST.MF
JPAPractice/target/classes/META-INF/persistence.xml
JPAPractice/target/classes/META-INF/maven/com.mirae.board.biz/JPAPractice/pom.properties
JPAPractice/target/classes/META-INF/maven/com.mirae.board.biz/JPAPractice/pom.xml
JPAPractice/target/test-classes/com/mirae/board/biz/AppTest.class
